html {
    background-color: #bdd8e3;
    background: url(../images/beautiful-blooming-bright.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

a {
    color: lavenderblush;
    text-decoration: none;

    &:hover {
        color: lightslategray;
    }
}

.header-global {
    position: static;
    top: 1rem;
    color: #fff;
    left: 0;
    width: 100%;
    z-index: 5000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    @media only screen and (max-width:700px) {
        width: auto;
        justify-content: space-between;
        margin-right: 1rem;
    }
}

.top-banner {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding: 0 20px;
    float: right;
    font-size: 2rem;
    @media only screen and (max-width:700px) {

    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_menu {
    margin: 0 0.1rem;
}

.mobile_menu_toggle {
    display: none;
    img {
        width: 50px;
        margin-left: 30px;
    }
    @media only screen and (max-width:700px) {
        display: inline;
    }
}

.hidden {
    display: none;
}

.mobile-link {
    width: 100%;
    display: block;
    font-size: 1.2rem;
    font-family: 'Pacifico', cursive;
    background-color: mistyrose;
    border: solid 0.5px #fff;
    &.portfolio-link {
        background-color: #FFC1B3;
        &:hover {
            background-color: #fff;
        }
    }
    a {
        display: flex;
        justify-content: center;
        padding: 0.3rem 0;
        color: lightslategray;
    }

    &:hover {
        background-color: lightblue;
    }

}

.nav-bar {
    height: 3rem;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: center;

    @media only screen and (max-width:700px) {
        display: none;
    }

    a {
        text-decoration: none;
    }
}

.right-nav {
    height: 3rem;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: center;
    @media only screen and (max-width:700px) {
        display: none;
    }
}

#wpadminbar {
    @media only screen and (max-width: 600px) {
        position: fixed;
    }
}

main {
    font-family: 'Open Sans', sans-serif;
    display: block;
    min-height: 80vh;
    max-width: 100vw;
    overflow: hidden;
    background-color: rgba(233,233,233,0.5);
    left: 0;
    // @media only screen and (max-width:600px) {
    //     background: none;
    // }
}

.toolbar {
    width: 100%;
    background-color: #fff;
    height: 3rem;
}

.content {
    padding: 40px;
}

.highlight {
    font-weight: bold;
    color: #657da7;
    background-color: #efebd9;

    &:hover {
        position: relative;
        top: -2px;
    }
}

.call-to-action {
    padding: 2rem;
    background-color: #354e82;
    color: wheat;
    text-align: center;
    .cta-click {
        margin: 30px;
    }
    a {
        padding: 10px 15px;
        background-color: #59b1b1;
        box-shadow: 0 0 6px gray;
        border-radius: 18px;
        &:hover {
            background-color: #9ce6e6;
            box-shadow: 0 0 6px wheat;
        }
    }
}

.portfolio {
    margin: 0;
    background: none;
    h1 {
        font-family: 'Pacifico', cursive;
        padding-left: 2rem;
        color: #47494b;
        @media only screen and (max-width:600px)  {
            max-width: 80%;
        }
    }
    h3:not(.portfolio-example-heading) {
        padding-left: 2rem;
        color: #47494b;
        @media only screen and (max-width:600px)  {
            max-width: 80%;
        }
    }
    .portfolio_example {
        display: block;
        min-height: 20rem;
        padding: 2rem;
        h3 {
            color: lightslategray;
            text-align: center;
            font-family: 'Pacifico', cursive;
            font-size: 1.6rem;
        }
        h4 {
            text-align: center;
        }
        &:first-of-type {
            margin-top: 4rem;
        }
        &:nth-child(odd) {
            // background-color: gainsboro;
            background-color: rgba(220,220,220,0.5);
        }
        &:nth-child(even) {
            // background-color: #bcd8e4;
            background-color: rgba(188,216, 228, 0.5);
        }
        .portfolio-image {
            max-width: 530px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
            display: block;
            margin: 0 auto;
            margin-top: -60px;
            @media only screen and (max-width:600px)  {
                max-width: 100%;
            }
        }
        &_content {
            img {
                @media only screen and (max-width:600px)  {
                    display: none;
                }
            }
        }

    }
}

.wp-image-58 {
    display: block;
    margin-left: 40%;
    @media only screen and (max-width:600px)  {
        margin-left: 35%;
    }
    @media only screen and (max-width:450px)  {
        margin-left: 30%;
    }
}

// .filters_dropdowns {
//     float: left;
//     width: calc(50% - 20px);
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
// }

.filters_dropdowns {
    //temporarily hide filters
    display: none;
    //
    position: relative;
    .title {
        display: block;
        width: 235px;
        height: 20px;
        border: solid 1px #999;
        padding: 5px;
    }
    #category-dropdown {
        position: absolute;
        top: 32px;
        background: #f1f1f1;
        width: 250px;
        display: none;

        li {
            padding: 5px 10px;
            border-bottom: solid 1px #999;
        }
    }
}

form.search {
    margin: 20px;
}
.articles_list {
    .articles_item {
        background-color: #354e82;
        border-radius: 30px;

        float: left;
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 30px;
        // border-bottom: solid 1px gray;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .articles_image {
            float: left;
            max-height: 200px;
            margin: 0;
            img {
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
                max-height: 200px;
                clip: rect(0px, 60px, 200px, 0px);
            }

        }

        .articles_details {
            margin: 10px 40px;
        }
    }
}

.pagination {
    text-align: center;
    margin: 20px;
}

.global-footer {
    font-family: 'Open Sans', sans-serif;
    padding: 3rem 0 4rem;
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    display: block;
}