{% extends "base.twig" %}
{% block content %}
	<main class="main cream">
		<div class="content">
			{{function('apply_filters', 'the_content', fields.post.post_content)}}
		</div>
	</main>
{% endblock %}