<header class="header-global">
    <div class="top-banner">
        <div class="logo">
            {{fields.header_text}}
        </div>
        <div class="experience">
            {{fields.theme_toggle_text}}
        </div>
    </div>
    <div class="nav-bar">
        <p>TEST CONTENT</p>
    </div>
</header>